@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

.background {
  background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
  background-size: 400% 400%;
  animation: animatedBackground 10s ease infinite;
  height: 100vh;
}
@keyframes animatedBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  width: 50%;
  height: 50%;
  transform: translate(50%, 50%);
  background-color: #dee2e6;
  box-shadow: rgba(0, 0, 0, 0.55) 0px 4px 10px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__darkmode {
  align-self: flex-end;
  font-size: 2.6rem;
  margin: 0 2rem;
  padding: 0.8rem;
  cursor: pointer;
}
.header__name {
  margin-top: 0.4rem;
  font-size: 5.8rem;
  font-weight: 700;
  letter-spacing: 0.6px;
  color: #343a40;
}
.header__text {
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 0.8px;
}

.state {
  display: flex;
  flex-direction: column;
}
.state__list {
  list-style: none;
  margin: 0 2rem;
}
.state__list__item {
  margin: 0.8rem 0;
  padding: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(28, 42, 56, 0.164);
  border-radius: 8px;
}
.state__list__item input[type=checkbox] {
  display: none;
}
.state__list__item .tick {
  width: 2.6rem;
  height: 2.6rem;
  border: 3px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}
.state__list__item .tick::before {
  content: "✓";
  font-size: 1.8rem;
  display: none;
}
.state__list__item span {
  flex-grow: 1;
  font-size: 2.2rem;
  margin-left: 0.5rem;
  margin-top: 0.3rem;
}
.state__list__item button {
  border: none;
  outline: none;
  background: transparent;
  margin-right: 0.6rem;
  font-size: 2.6rem;
  cursor: pointer;
}
.state__list__item button i {
  pointer-events: none;
}

.done .tick::before {
  display: inline;
}

.done span {
  text-decoration: line-through;
}

.idle-state {
  display: none;
  flex-direction: column;
  align-items: center;
  color: #343a40;
}
.idle-state__icon {
  font-size: 4.8rem;
  margin: 2.2rem 0;
}
.idle-state__name {
  font-size: 1.8rem;
  font-weight: 500;
}
.idle-state__text {
  margin: 1.2rem 0;
  font-size: 1.6rem;
  font-weight: 300;
}

.state__list:empty {
  display: none;
}

.state__list:empty + .idle-state {
  display: flex;
}

.form {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.form__input {
  width: 40%;
  padding: 1.2rem;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.336);
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 10px;
}
.form__input::-moz-placeholder {
  font-family: inherit;
}
.form__input::placeholder {
  font-family: inherit;
}
.form button {
  align-self: center;
  margin-top: 1.4rem;
  padding: 1.2rem;
  width: 12%;
  border: 1px solid rgba(0, 0, 0, 0.26);
  border-radius: 8px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 0.8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 10px;
  background-color: #f8f9fa;
  transition: all 0.3s;
}
.form button:hover, .form button::after {
  background-color: #4dabf7;
}/*# sourceMappingURL=style.css.map */