* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

.background {
  background: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
  background-size: 400% 400%;
  animation: animatedBackground 10s ease infinite;
  height: 100vh;

  @keyframes animatedBackground {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .header__darkmode {
    padding: 2rem;
    font-size: 3.4rem;
  }
}

.fa-moon {
  color: #fff;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 80%;
  }
}

@media only screen and (max-width: 41.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 26em) {
  html {
    font-size: 45%;
  }
}

@media only screen and (max-width: 24.375em) {
  html {
    font-size: 40%;
  }
}
