.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__darkmode {
    align-self: flex-end;
    font-size: 2.6rem;
    margin: 0 2rem;
    padding: 0.8rem;
    cursor: pointer;
  }

  &__name {
    margin-top: 0.4rem;
    font-size: 5.8rem;
    font-weight: 700;
    letter-spacing: 0.6px;
    color: #343a40;
  }

  &__text {
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 0.8px;
  }
}

.state {
  display: flex;
  flex-direction: column;

  &__list {
    list-style: none;
    margin: 0 2rem;

    &__item {
      margin: 0.8rem 0;
      padding: 0.6rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: rgba(21, 26, 31, 0.356);
      border-radius: 6px;

      input[type="checkbox"] {
        display: none;
      }

      .tick {
        width: 2.6rem;
        height: 2.6rem;
        border: 3px solid #fff;
        border-radius: 50%;
      }
      span {
        flex-grow: 1;
        font-size: 2.2rem;
        margin-left: 0.5rem;
        margin-top: 0.3rem;
      }

      button {
        border: none;
        outline: none;
        background: transparent;
        margin-right: 0.6rem;
        font-size: 2.6rem;
        cursor: pointer;

        i {
          pointer-events: none;
        }
      }
    }
  }
}

.idle-state {
  display: none;
  flex-direction: column;
  align-items: center;
  color: #343a40;

  &__icon {
    font-size: 4.8rem;
    margin: 2.2rem 0;
  }

  &__name {
    font-size: 1.8rem;
    font-weight: 500;
  }

  &__text {
    margin: 1.2rem 0;
    font-size: 1.6rem;
    font-weight: 300;
  }
}

.state__list:empty {
  display: none;
}

.state__list:empty + .idle-state {
  display: flex;
}

.form {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;

  &__input {
    width: 40%;
    padding: 1.2rem;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.336);
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 10px;
    &::placeholder {
      font-family: inherit;
    }
  }

  button {
    align-self: center;
    margin-top: 1.4rem;
    padding: 1.2rem;
    width: 12%;
    border: 1px solid rgba(0, 0, 0, 0.26);
    border-radius: 8px;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: 0.8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 10px;
    background-color: #f8f9fa;
    transition: all 0.3s;

    &:hover,
    &::after {
      background-color: #4dabf7;
    }
  }
}
