.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__name {
    font-size: 8.8rem;
    font-weight: 700;
    letter-spacing: 0.6px;
    color: #343a40;
  }

  &__text {
    font-size: 2.2rem;
    font-weight: 400;
    letter-spacing: 0.4px;
  }
}

.state {
  display: flex;
  flex-direction: column;

  &__list {
    list-style: none;
    margin: 2rem 6rem;

    &__item {
      margin: 2rem 0;
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: rgba(23, 67, 107, 0.164);
      border-radius: 12px;

      input[type="checkbox"] {
        display: none;
      }

      .tick {
        width: 3.6rem;
        height: 3.6rem;
        border: 2px solid #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        cursor: pointer;

        &::before {
          content: "✓";
          font-size: 2.2rem;
          display: none;
        }
      }

      span {
        flex-grow: 1;
        font-size: 2.6rem;
        margin-left: 1rem;
        margin-top: 0rem;
      }

      button {
        border: none;
        outline: none;
        background: transparent;
        margin-right: 1.4rem;
        font-size: 2.8rem;
        cursor: pointer;

        i {
          pointer-events: none;
        }
      }
    }
  }
}

.done .tick::before {
  display: inline;
}
.done span {
  text-decoration: line-through;
}
.idle-state {
  display: none;
  flex-direction: column;
  align-items: center;
  color: #343a40;

  &__icon {
    font-size: 6rem;
    margin: 2.2rem 0;
  }

  &__name {
    font-size: 2.2rem;
    font-weight: 500;
  }

  &__text {
    margin-top: 1.2rem;
    font-size: 2.4rem;
    font-weight: 300;
  }
}

.state__list:empty {
  display: none;
}

.state__list:empty + .idle-state {
  display: flex;
}

.form {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;

  &__input {
    min-width: 40%;
    padding: 1.2rem;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.336);
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 10px;
    font-family: inherit;
  }

  button {
    align-self: center;
    margin-top: 2.2rem;
    padding: 1.2rem;
    width: 12%;
    border: 1px solid rgba(0, 0, 0, 0.26);
    border-radius: 8px;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: 0.8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 10px;
    background-color: #f8f9fa;
    transition: all 0.3s;

    &:hover,
    &::after {
      background-color: #4dabf7;
    }
  }
}

@media only screen and (max-width: 75em) {
  .state {
    &__list {
      margin: 0 4rem;

      &__item {
        margin: 1.8rem 0;

        span {
          font-size: 3.6rem;
        }

        button {
          font-size: 3.6rem;
        }
      }
    }
  }

  .form {
    &__input {
      width: 80%;
      padding: 1.8rem;
      font-family: inherit;

      &::placeholder {
        text-align: center;
      }
    }
    button {
      width: 15%;
      margin-top: 2rem;
      padding: 1.8rem;
      font-size: 2.6rem;
    }
  }
}

@media only screen and (max-width: 50em) {
  .form {
    button {
      width: 20%;
    }
  }
}
